$border-color: #d6d8de;
$active-border-color: $primary;

.pageWrap {
    margin-right: 0;
    background: white;
    transition: border 330ms $transition-standard, width 220ms $transition-standard;
    float: right;
    width: 100%;
    border: 0 solid $grey-dark;
    transition-delay: 120ms;
}

#typeSettings.visible + .pageWrap {
    width: calc(100% - 359px);
    @include media($xl) {
        width: calc(100% - 439px);
    }
    border-left: 5rem solid $grey-dark;
    border-right: 5rem solid $grey-dark;
}

#typeSettings.visible {
    transition-delay: 330ms;
}

#typeSettings {
    width: 360px;
    @include media($xl) {
        width: 440px;
    }
    transition: all 330ms $transition-standard;
    transform: translateX(-100%);
    &.visible {
        transform: translateX(0);
        box-shadow: $z5;
    }
    .js-collapsible {
        position: relative;
        svg {
            transition: all 330ms $transition-standard;
        }
        &.expanded {
            svg {
                transform: rotate(-180deg) translateY(50%) !important;
            }
        }
    }
    .collapsible {
        backface-visibility: hidden;
        position: relative;
        overflow: hidden;
        max-height: 0;
        padding: 0 1rem;
        margin-bottom: 0.2rem;
        @include clearfix;
        transition: all 330ms $transition-standard;
        &.expanded {
            padding: 1rem;
            max-height: 100rem;
            overflow: visible;
        }
    }

    .headingWrap {
        position: relative;
        margin-bottom: 0.4rem;
        h6 {
            cursor: pointer;
            background-image: linear-gradient(to right, $primary 0%, rgba($primary, 0.7) 100%);
            color: white;
            padding: 1.2rem;
            margin-bottom: 0;
            @include normal;
            font-size: 1.6rem;
        }
        svg {
            @include vertical-align;
            right: 1rem;
        }
    }

    &.type-settings {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-image: linear-gradient(to bottom, #fff 0%, #ebebeb 100%);
        z-index: 9;
        .type-settings__header {
            padding: 1rem 1rem 0.1rem;
            background-image: linear-gradient(to top, #fff 0%, #ebebeb 100%);
            h5 {
                color: $primary;
                text-align: center;
                @include light;
                font-size: 3rem;
                margin: 0;
            }
        }
        .scroll-wrap {
            position: absolute;
            top: 3.5rem;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 2rem 0;
            overflow: auto;
            button {
                margin: 2rem 2.5%;
                width: 94%;
            }
        }
    }

    .input-wrap {
        position: relative;
        width: calc(33.333% - 10px);
        margin: 0 0.5rem 0;
        display: block;
        float: left;
        //min-width: 200px;
        &--full {
            width: calc(100% - 1rem);
        }
        select,
        input[type="number"],
        input[type="text"] {
            width: 100%;
            background: white;
            padding: 2.4rem 5rem 0.7rem 0.8rem;
            border: 1px solid $border-color;
            margin-bottom: 0.3rem;
            outline: none;
            font-size: 18px;
            font-weight: 400;
            color: $black-mid;
            &:active,
            &:focus {
                border-color: $active-border-color;
                & + label {
                    color: $active-border-color;
                }
            }
        }
        &__number,
        &__text {
            span {
                position: absolute;
                right: 1rem;
                bottom: 1.5rem;
                font-size: 1.8rem;
                color: #A0A4AD;
                font-weight: 400 !important;
            }
        }
        &__colour {
            display: none;
        }
        &__select {
            margin-top: 6px;
            margin-bottom: 7px;
            &:after {
                right: 2rem;
                bottom: 1.3rem;
            }
            select {
                padding: 2.4rem 3rem 0.7rem 0.8rem;
            }
        }
        label {
            position: absolute;
            top: 0.6rem;
            left: 0.8rem;
            font-size: 0.9rem;
            @include normal;
            transition: all 120ms $transition-standard;
        }
        @include placeholder {
            color: black;
        }
    }
}